dtdXML.dtd

<?xml version="1.0" ?>

<!DOCTYPE codelean [
<!ELEMENT codelean (to,from,subject,message) >
<!ELEMENT to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT message (#PCDATA)>
]>
<codelean>
    <to>My readers</to>
    <from>ThiDk</from>
    <subject>A message to my readers</subject>
    <message>welcome to codelean.vn</message>
</codelean>